<h1> Case <%=@case.id%> notes</h1>
<h1 class="text-center">Cases</h1>

<%= link_to "Add Note", new_case_note_path(@case), class: "btn btn-xs btn-primary" %>
<% @notes.each do |c| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="note-subject">
          Subject: <%= c.subject %>
        </div>
        <div class="note-text">
          Body: <%= c.note_text%> 
        </div>
        <div class="case-actions">
          <%= link_to "Edit", edit_case_note_path(@case, c), class: "btn btn-xs btn-primary"%>
        </div>
      </div>
    </div>
  </div>

<% end %>
~          
