<h1>Cases</h1>

<table id="cases">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Diagnosis</th>
    </tr>
  </thead>
  <tbody>
    <% @cases.each do |c| %>
      <tr>
        <td>
          <%= link_to c.name, case_path(c) %>
        </td>
        <td>
          <%= c.age %>
        </td>
        <td>
          <%= c.gender %>
        </td>
        <td>
          <%= c.diagnosis %>
        </td>
        <td>
          <%= link_to 'Edit', edit_case_path(c) %>
        </td>
        <td>
          <%= link_to 'Destroy', case_path(c), method: :delete, data: {confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Create new case", new_case_path %>